@import './variables';
@import './resets';

// functions: returns value
@function mycolor($color_name) {
    @return map-get($colors, $color_name);
}

// mixins: returns code
@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
} 

@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

body {
    color: $text-color;
    background: $primary-color;
}

.first {
    @include flexCenter(row);

    #{&}-para { 
        // & - gives parent class name
        // ${&} - known as interpolation, adds upper class as hierarchy
        margin: 10px;

        &:hover {
            color: mycolor(highlight);
        }
    }
}

.light {
    @include theme($light-theme: false);
}